.login-input,
.signup-input-fullname,
.signup-input-username {
  padding-left: 100px !important;
  margin: 15px 0px !important;
  border-radius: 10px !important;
  padding: 3% !important;
  background-color: rgb(190 190 190 / 21%) !important;
  color: white !important;
}

.login-password,
.signup-password {
  padding-left: 100px !important;
  margin: 15px 0px !important;
  border-radius: 10px !important;
  padding: 3% !important;
  background-color: rgb(190 190 190 / 21%) !important;
}

.login-password > input {
  background-color: transparent;
}

.login-button {
  background-color: transparent !important;
}
.signup-password > input {
  background-color: transparent !important;
}

.login-button,
.signup-button {
  background-color: green !important;
  border: white !important;
  float: right;
}

.login-input:hover {
  transform: scale(1.05);
}
.login-button:hover {
  transform: scale(1.1) !important;
}
.login-password:hover {
  transform: scale(1.05) !important;
}
.signup-input:hover {
  transform: scale(1.05);
}

.signup-password:hover {
  transform: scale(1.05);
}

.signup-email:hover {
  transform: scale(1.05);
}
.signup-button:hover {
  transform: scale(1.1) !important;
}

.welcome {
  margin: 0;
  text-align: center;
}
