.welcome{
    color: white;
}

.Table{
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:max-content;
    border: black;
}

.cell{
    margin: 5px;
    padding: 100;
}

.add_movie {
    margin-left: 60px;
}

input[type=text]{
    color:black;
}

textarea{
    color:black;
}

input[type=submit]{
    color:black;
}