.test{

    text-align: center;
}

.section{
    color: white;
}

.profilephoto{
    margin-left: 30px;
}

.Biograph{
    margin-top: 10px;
}

.body{
    border-radius: 75%;
    border: black;
    margin-left: 20px;
    color: white;
}

.body h2{
    color: aqua;
}

.photo{
    border-radius: 50%;
    border-color: white;
    width: 200px
}

.movieImage{
    height: 300px
}

.name{
    color: white;
}

.ant-comment-content {
    color: white;

}

.ant-tabs-tab{
    color:white
}

.ant-descriptions-title{
    color: white
}

.ant-card-meta{
    color: white
}

.badge-followers {
    margin-top: 7px !important;
    margin-left: 15px !important;
}

.ant-badge-count {
    background: #0043ff40 !important
}

.tooltip-edit-bio {
    transform: scale(0.7);
    margin-left: 5px;
}

.input-bio {
    width: 700px !important;
    background-color: #ffffff30 !important;
    color: white !important;
}

.upload-material {
    display:none;
}

.current-photo {
    cursor: pointer;
}

.fetch-error-text{
    color: white;
    text-align: center;
    font-weight: bold;
}
