.parent-comment {
  background-color: #ffffff1c !important;
  padding-left: 20px;
  border-radius: 50px;
  margin-top: 10px;
}

.ant-comment-content-author-name {
  color: white;
  font-weight: bold;
  display: block;
  width: 100%;
}

.username {
  float: left;
  color: white;
}

.review-rating {
  float: right;
  margin-right: 5%;
  transform: scale(0.7);
}
