.parent-comment {
  background-color: #ffffff1c !important;
  padding-left: 20px;
  border-radius: 50px;
  margin-top: 10px;
}

.ant-comment-content-author-name {
  color: white;
  font-weight: bold;
  display: block;
  width: 100%;
}

.username {
  float: left;
  color: white  !important;
  font-size: 16px;
}

.username-review {
  color: white;
  font-size: 16px;
}

.username:hover {
  text-decoration: underline;
  color: #1890ff !important;
}

.review-rating {
  float: right;
  margin-right: 5%;
  transform: scale(0.7);
}

.btn-comment {
  float: right;
  color: white !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-comment-right {
  margin-right: 30px;
}

.comment-text {
  background-color: #ffffff1c !important;
  border-radius: 20px !important;
  padding: 20px;
  overflow: hidden;
  color: white !important;
  resize: none;
  position: relative !important;
  right: 34px;
}