.ant-divider-inner-text {
  color: white;
}

.ant-divider-horizontal.ant-divider-with-text::before, .ant-divider-horizontal.ant-divider-with-text::after {
  border-top-color: #ffffff2e ;
}

.ant-collapse-header {
  display: none ;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.post-image {
  margin: 16px 16px;
  border-radius: 15px;
  border: 1px solid white;
}

.post-image > img {
  border-radius: 15px;
}

.movie-name {
  color: white;
}
.movie-des {
  margin: 16px 16px;
  border-radius: 15px;
}

.movie-rate {
  float: right;
  position: relative;
  top: -15px;
}

.btn-review {
  float: right;
  margin-left: 5px;
  width: 200px;
}

.review-text {
  background-color: #ffffff1c !important;
  border-radius: 20px;
  padding: 30px 20px 10px 20px;
  overflow: hidden;
  color: white;
  resize: none;
}

.review-rate {
  position: absolute;
  z-index: 1000;
  right: 35px;
}