img {
  max-width: 100%;
  max-height: 100%;
}

.post-image {
  margin: 16px 16px;
  border-radius: 15px;
  border: 1px solid white;
}

.post-image > img {
  border-radius: 15px;
}

.movie-name {
  color: white;
}
.movie-des {
  margin: 16px 16px;
  border-radius: 15px;
}

.movie-rate {
  float: right;
  position: relative;
  top: -15px;
}
.random-movie-review {
  height: 100%;
}
