.titleContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleText{
  padding-top: 30px;
  color: white;
  font-size: 25px;
}

.contentsContainer{
  width: 1400px;
  height: 750px;
  left: 150px;
  top: 392px;
  margin:auto;
  background: rgba(0, 0, 0, 0.37);
  border-radius: 177px;
}

.row{
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}

.imagesContainer{
  padding-left: 100px;
  padding-right: 100px;
}

.imageStyle{
  width: 300px;
  height: 300px;
}
